.main_div {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 4rem;
}
.profile_pic_div {
  text-align: center;
  margin-bottom: 4rem;
}
.profile_pic {
  display: inline-block;
  margin: auto;
}
.profile_name {
  margin-top: 1rem;
  font-size: 2rem;
  font-weight: 700;
}
.username {
  text-align: center;
  background-color: #eaecf0;
  width: 75%;
  padding: 2rem;
  margin-top: 2.5rem;
  font-weight: 500;
  font-size: 1.8rem;
  margin: 0;
}
.link {
  background-color: #eaecf0;
  width: 75%;
  text-align: center;
  padding: 2rem;
  border-radius: 8px;
  margin-top: 2rem;
  font-size: 1.8rem;
  font-weight: 600;
  text-decoration: none;
  color: #101828;
}
.logo_after_links {
  margin: 2.5rem 2rem;
}
.footer {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin-top: 3rem;
}
.hidden {
  display: none;
}
@media screen and (max-width: 768px) {
  .mainDiv {
    margin-top: 2rem;
  }
  .profile_pic_div {
    margin-bottom: 1.5rem;
  }
  .username {
    font-size: 1.6rem;
    width: 80%;
  }
  .link {
    font-size: 1.6rem;
    width: 80%;
    font-weight: 500;
  }
  .logo_after_links {
    display: none;
  }
  .footer {
    display: none;
  }
}
